/* ==UserStyle==
@name           Animation Digital Network (ADN) responsive
@version        1.0.6
@description    Animation Digital Network (ADN) prend maintenant toute la largeur de la page.
@author         BreatFR (https://breat.fr)
@namespace      https://gitlab.com/breatfr
@homepageURL    https://gitlab.com/breatfr/animation-digital-network
@updateURL      https://gitlab.com/breatfr/animation-digital-network/-/raw/main/css/animation-digital-network-responsive.user.css
@supportURL     https://discord.gg/Q8KSHzdBxs
@license        AGPL-3.0-or-later; https://www.gnu.org/licenses/agpl-3.0.txt
@preprocessor   stylus

@var    text        fontsize        "Taille du texte"   1.5rem
==/UserStyle== */

/* === Credits ===
Website         https://breat.fr
facebook        https://www.facebook.com/breatfroff
mastodon        https://mastodon.social/@breat_fr
telegram        https://t.me/breatfr
vk              https://vk.com/breatfroff
X (twitter)     https://x.com/breatfroff
=== Credits === */

@-moz-document domain("animationdigitalnetwork.com"), domain("animationdigitalnetwork.fr") {
    :root {
        --fontsize: fontsize;
    }
    .cxTMBq,
    .lewCxR p,
    [data-testid="comment-container-text"],
    textarea[data-testid="comment-form-textarea"] {
        font-size: var(--fontsize)  !important;
        font-weight: normal !important;
        line-height: 1.5 !important;
    }
    .bxamNH,
    .fNOqCh,
    .jxmMQa,
    .kyfLlI {
        font-size: calc(var(--fontsize) - .2rem) !important;
        font-weight: normal !important;
        line-height: 1.5 !important;
    }
    
    /* Écran large */
    [data-testid="menuContent"],
    .bmkxsN,
    .eOa-dwI,
    .gMWsPW,
    .iIcZXx,
    .iIghaZ,
    .isIJWV,
    .jIUuTk {
        max-width: 99% !important;
        width: 99% !important;
    }

    /* Animes relatifs */
    div[data-testid="relatedshowlist"] {
        width: calc(100% + 300px) !important;
    }

    div[data-testid="pairshowlist"] {
        width: calc(100% + 150px) !important;
    }

    /* Rien que pour vous et Les simulcasts et Les films */
    div[data-testid="userrecommendedshowlist"],
    #__next > div > div > div.sc-60e49a10-0.hyGjoA > div.sc-60e49a10-1.blomsM > div:nth-child(6),
    #__next > div > div > div.sc-60e49a10-0.hyGjoA > div.sc-60e49a10-1.blomsM > div:nth-child(7) {
        width: calc(100% + 320px) !important;
    }

    /* Le site français au service du stream d’animation et anime en vostfr et vf. */
    .gUAjSJ {
        width: calc(100% + 330px) !important;
    }

    .kPPrQo,
    .haRVTb {
        max-width: calc(100% - 80px) !important;
    }
    .ATlce > button {
        float: right;
        margin-right: 15px !important;
    }
    
    /* Pied de page */
    .bBPpng,
    .fFLapr,
    .fRItrR,
    .hjHByy {
        max-width: 100%;
    }
    
    /* Commentaires */
    [data-testid="comment-container"] {
        max-width: 70%;
    }
    
    /* Zone de texte des commentaires */
    textarea[data-testid="comment-form-textarea"] {
        background: rgb(12, 35, 48);
        color: #cbcbcb;
    }
}
